<div id="logo">
  <h1><a href="/">Spencer</h1>
  <p>Systems Management</p>
</div>
<div id="menu">
  <ul>
    <!-- <% cur = 'class="current_page_item"' %> -->
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</div>
