			  <div id="content">

  <div class="post">
    <h2 class="title"><a href="/about">about</a></h2>
    <p class="meta">
      <div class="entry">
	<p>
	  <strong>Bart Spencer</strong> has spent more than twenty-five years in the public safety/emergency service industry specifically in the areas of fire and EMS, and emergency management and planning. Bart started his professional service in the Memphis, TN area as a firefighter and paramedic. He also volunteered as a paramedic and search and rescue coordinator for the county sheriff’s emergency service unit.
	</p>
	<p>
Since his move to the San Francisco Peninsula Bart has worked in various position including EMS, safety and security director, consultant, and coordinator for a local county’s homeland security and emergency services division. Most recently, he served as a regional director for Cooper Notification, a company that delivers mass notification and emergency communications. Bart oversaw operations and services for customers from the Mississippi River to Guam.
	</p>
	<p>
	  Additionally, Bart has served as an elected Director for the Menlo Park Fire Protection District for nearly fifteen years. Menlo Park Fire is the host for one of the twenty-eight National Urban Search & Rescue team which are part of the National Response System Program. 
	</p>
	<p>
	  Bart’s educational background includes a BA from Rhodes College and an MA in Industrial Psychology from Santa Clara University. He also is certified in ICS 100, 200, 300, 400 and NIMS 700 and 800 as well as other FEMA and emergency management programs
	</p>
	<p>
	  As the principal for Spencer Systems Management, Bart utilizes his years of experience in the field as well as management and leadership.  
	</p>
      </div>
</div>
</div>

<div id="sidebar">
  SIDEBAR
  <ul>
    <li>
      <h2>Service</h2>
      <ul>
	<li><span>Menlo Park Fire Protection District
	    <p><strong>Director</strong></p></span>
	</li>
      </ul>
      <h2>Education</h2>
      <ul>
	<li><span>Rhodes College
	    <p><strong>B.A. History, Political Science</strong></p></span></li>
	<li><span>Santa Clara University
	    <p><strong>M.A. Industrial Psychology</strong></p></span></li>

	<li><span>Shelby State College
	    <p><strong>EMT, AEMT</strong></p></span></li>
	<li><span>DHS/FEMA
	    <p><strong>Classes & Certifications</strong></p></span></li>
	<li><span>California EMA
	    <p><strong>Classes & Certifications</strong></p></span></li>
      </ul>
    </li>
  </ul>
</div>
