<div id="sidebar">
  SIDEBAR
</div>
<div id="content">
  <div class="post">
    <h2 class="title"><a href="/contact">Contact</a></h2>
    <p class="meta">
      <div class="entry">
	<table>
	  <tr>
	    <td>Phone:</td><td>650.324.1810</td>
	  </tr>
	  <tr>
	    <td>Email:</td><td>bart@spencersystemsmanagement.com</td>
	  </tr>
	</table>

      </div>
  </div>
</div>
