<div id="content">
  <div class="post">
    <h2 class="title"><a href="/">Welcome</a></h2>
    <p class="meta">
      <!-- <span class="posted">Posted by <a href="#">Someone</a></span></p> -->

      <div class="entry">
	<p>
	  <strong>Spencer Systems Management</strong> provides professional consulting, management, and retainer services to business, educational institutions, and government agencies.
	</p>

	<p><strong>Areas of Professional Service</strong><p>
	  <ul>
	    <li>
	      Homeland security, public safety, emergency service
	    </li>
	    <li>
	      Organizational Management
	    </li>
	    <li>
	      Strategic development and planning
	    </li>
	    <li>
	      Ethics and values
	    </li>
	    <li>
	      Operational audits and reviews
	    </li>
	    <li>
	      Team leadership development and performance
	    </li>
	    <li>
	      Staff and management training
	    </li>
	    <li>
	      Shared and/or efficiencies of service / consolidation 
	    </li>
	  </ul>
      </div>
  </div>

  <div class="post">
    <h2 class="title"><a href="/">Partnerships</a></h2>
    <p class="meta">
      <div class="entry">
	<p>
	  <strong>Spencer Systems Management</strong> is aligned with various network partners to capitalize on experienced resources to meet the needs of services requested
	</p>
      </div>
  </div>
</div>

<div id="sidebar">
    SIDEBAR
</div>
